.font {
  font-family: Arial, Helvetica, sans-serif;
}
.show-item {
  animation: show-item 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
@keyframes show-item {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
